/* Write your CSS here */
.app-team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.team-matches-container {
  width: 90%;
  margin-top: 40px;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .team-matches-container {
    margin-top: 56px;
    max-width: 1110px;
  }
}
.team-banner {
  width: 100%;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RCB {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.KKR {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.KXP {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.CSK {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.RR {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.MI {
  background: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}

.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .recent-matches-list {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}
