/* Write your CSS here */
.latest-match-card-container {
  margin-top: 20px;
  width: 100%;
}

.latest-match-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Bree Serif';
  color: #ffffff;
}

.latest-match-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}

@media screen and (min-width: 768px) {
  .latest-match-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.latest-match-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .latest-match-logo-container {
    width: 60%;
  }
}

.latest-match-details-main {
  color: #ffffff;
  font-family: 'Bree Serif';
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .latest-match-details-main {
    width: 100%;
  }
}

.latest-match-team-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .latest-match-team-name {
    font-size: 22px;
  }
}

.latest-match-date,
.latest-match-venue,
.latest-match-status {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .latest-match-date,
  .latest-match-venue,
  .latest-match-status {
    font-size: 18px;
  }
}

.latest-match-logo {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .latest-match-logo {
    min-width: 150px;
    min-height: 150px;
    max-height: 200px;
  }
}

.latest-match-details-info {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .latest-match-details-info {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .latest-match-details-info {
    text-align: right;
    width: 33%;
    padding-left: 0px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .match-info-item {
    width: 43%;
    border: 0.5px solid #fff9fc;
    padding: 8px;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    max-height: 200px;
  }
}
.latest-match-details-label {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-label {
    font-size: 18px;
  }
}

.latest-match-details-value {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .latest-match-details-value {
    font-size: 14px;
  }
}
